<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Statistics: Usernames and Passwords - Cowrie Log Viewer v{{ version }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/images/flags.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/images/style.css">
</head>
<body>

{% include 'navbar.html' %}

<div class="container-lg">

  <div class="row">
    <div class="col-xs-6">
      <div class="table-responsive">
        <table class="table table-condensed table-striped">
        	<thead>
		        <th>Username</th>
	        	<th >Count</th>
        	</thead>
        	<tbody>
        		{% for username in usernames  %}
        		<tr>
              <td>
                {{ username[0] }}
              </td>
        			<td>			
                {{ username[1] }}  
        			</td>
        		</tr>
        		{% endfor %}
        	</tbody>
        </table>
       </div>
    </div>
    <div class="col-xs-6">
      <div class="table-responsive">
        <table class="table table-condensed table-striped">
                <thead>
                        <th>Password</th>
                        <th >Count</th>
                </thead>
                <tbody>
                        {% for password in passwords  %}
                        <tr>
              <td>
                {% if password[0] == "" %}(empty password){% else %}{{ password[0] }}{% endif %}
              </td>
                                <td>
                {{ password[1] }}
                                </td>
                        </tr>
                        {% endfor %}
                </tbody>
        </table>
       </div>
    </div>
  </div>
</div>
</div>
</body>
{% include 'scripts.html' %}
</html>
