<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Statistics: Attacks by country - Cowrie Log Viewer v{{ version }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/images/flags.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/images/style.css">
</head>
<body>

{% include 'navbar.html' %}

<div class="container-lg">
  <div class="row">
    <div class="col-xs-6">
      <div class="table-responsive">
        <table class="table table-condensed table-striped">
        	<thead>
            <th>Country</th>
        		<th >IP count</th>
        	</thead>
        	<tbody>
        		{% for country in countries %}
        		<tr>
              <td>
                {% if country[1] != 'XX' %}<img src="/images/pixel.gif" alt="{{ country[0] }}" title="{{ country[0] }}" class="flag flag-{{ country[1]|lower }}" />{% endif %} {{ country[0] }}
              </td>
        			<td>			
                {{ country[2] }}  
        			</td>
        		</tr>
        		{% endfor %}
        	</tbody>
        </table>
       </div>
    </div>
    <div class="col-xs-6">
    <canvas id="stats-chart" width="350" height="300"></canvas>
    <script type="text/javascript">
    
    var ctx = document.getElementById('stats-chart');
    var statschart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [{% for country in countries %}"{{ country[0] }}",{% endfor %}],
        datasets: [{
           label: '# of attacks',
           data: [{% for country in countries %}"{{ country[2] }}",{% endfor %}], 
        }],
      
      }
    
    
    });
    
    </script>
    
    </div>
  </div>
</div>

</body>
{% include 'scripts.html' %}
</html>
