<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Uploads - Cowrie Log Viewer v{{ version }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">        
    <link rel="stylesheet" href="/images/style.css">
</head>
<body>

{% include 'navbar.html' %}

<div class="container-lg">

      <div class="table-responsive">
        <table class="table table-condensed table-striped">
        	<thead>
            <th>File name</th>
        		<th >File size</th>
        	</thead>
        	<tbody>
        		{% for upload in uploads %}
        		<tr>
              <td>
                <a href="/download/{{ upload[0] }}">{{ upload[0] }}</a>
              </td>
        			<td>			
                {{ upload[1] }}  
        			</td>
        		</tr>
        		{% endfor %}
        	</tbody>
        </table>
       </div>

</div>

</body>

</html>
